*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host(app-navbar){
    padding: 0;
    margin: 0;
}

.navContainer{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: #e4edf4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #dae1e7); 
    background: linear-gradient(to right, #eef2f3, #dae1e7); 
    position: fixed;
    /* padding: 1em; */
    z-index: 2;
    padding: 0 0.7em 0 0.7em;
}

.large{
    display: none;
}

.logoContainer{
    cursor: pointer;
}

.logoFont{
    font-size: 1.7em;
    font-weight: 600;
}

.secondary{
    color: var(--secondary);
}

.primary{
    color: var(--primary);
}

.hamIcon{
    width: 1.5em;
    height: 1.5em;
}

.icon{
    width: 40px;
    height: 40px;
}

.fontNormal{
    font-size: 1.5em;
}

.euroFont{
    font-size: 1.5em;
    font-weight: 400;
}

.blue{
    filter: var(--filterBlue);
}

.cartContainer{
    position: relative;
    cursor: pointer;
}

.itemCount{
    position: absolute;
    top: 0;
    left: 40%;
    font-size: 0.8em;
    background: #e4edf4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #dae1e7); 
    background: linear-gradient(to right, #eef2f3, #dae1e7); 
    border: 2px solid var(--secondary);
    border-radius: 20px;
    padding: 0 0.5em 0 0.5em;
    color: var(--secondary);
}

.hamCont{
    cursor: pointer;
}

.userArrow{
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    .navContainer{
        justify-content: space-evenly;
    }

    .hamCont{
        display: none;
    }

    .large{
        display: flex;
    }

    .userCont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0.2em;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: 0.3s linear;
    }

    .userCont:hover{
        border: 2px solid black;
    }

    .searchCont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 45%;
    }

    .searchFeld{
        all: unset;
        height: 90%;
        width: 90%;
        background-color: white;
        color: black;
        border: 2px solid var(--secondary);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 0.5em;
    }
    
    .searchIconCont{
        height: 99%;
        width: 10%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--secondary);
        border-right: 2px solid var(--secondary);
        border-bottom: 2px solid var(--secondary);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .searchIcon{
        width: 25px;
        height: 25px;
    }

}